HFDIncidents.IncidentLoader/Service References/HoustonFireDept/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloPerson">
        <s:complexType />
      </s:element>
      <s:element name="HelloPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloPersonResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncidents">
        <s:complexType />
      </s:element>
      <s:element name="GetIncidentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncidentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIncidentsPOST">
        <s:complexType />
      </s:element>
      <s:element name="GetIncidentsPOSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIncidentsPOSTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloPersonSoapIn">
    <wsdl:part name="parameters" element="tns:HelloPerson" />
  </wsdl:message>
  <wsdl:message name="HelloPersonSoapOut">
    <wsdl:part name="parameters" element="tns:HelloPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncidentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncidents" />
  </wsdl:message>
  <wsdl:message name="GetIncidentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIncidentsPOSTSoapIn">
    <wsdl:part name="parameters" element="tns:GetIncidentsPOST" />
  </wsdl:message>
  <wsdl:message name="GetIncidentsPOSTSoapOut">
    <wsdl:part name="parameters" element="tns:GetIncidentsPOSTResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloPerson">
      <wsdl:input message="tns:HelloPersonSoapIn" />
      <wsdl:output message="tns:HelloPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidents">
      <wsdl:input message="tns:GetIncidentsSoapIn" />
      <wsdl:output message="tns:GetIncidentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIncidentsPOST">
      <wsdl:input message="tns:GetIncidentsPOSTSoapIn" />
      <wsdl:output message="tns:GetIncidentsPOSTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloPerson">
      <soap:operation soapAction="http://tempuri.org/HelloPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidents">
      <soap:operation soapAction="http://tempuri.org/GetIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidentsPOST">
      <soap:operation soapAction="http://tempuri.org/GetIncidentsPOST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloPerson">
      <soap12:operation soapAction="http://tempuri.org/HelloPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidents">
      <soap12:operation soapAction="http://tempuri.org/GetIncidents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncidentsPOST">
      <soap12:operation soapAction="http://tempuri.org/GetIncidentsPOST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://hfdapp.houstontx.gov/JSONTest/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://hfdapp.houstontx.gov/JSONTest/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>